This is a corporate computer system. Corporate computer systems are provided for the 
processing of corporate information only. All data contained on in this computer systems 
is owned by the the corporation, and may be monitored, intercepted, recorded, read, 
copied, or captured in any manner and disclosed in any manner, by authorized personnel.

THERE IS NO RIGHT OF PRIVACY IN THIS SYSTEM. Systems personnel may give to law enforcement 
officials any potential evidence of crime found on this system. USE OF THIS SYSTEM BY ANY 
USER, AUTHORIZED OR UNAUTHORIZED, CONSTITUTES EXPRESS CONSENT TO THIS MONITORING, 
INTERCEPTION, RECORDING. READING, COPYING, or CAPTURING and DISCLOSURE.

IF YOU DO NOT CONSENT, LOG OFF NOW.
